<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/{{style}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>4-day working week Petition</h1>
    </header>
    <main>
        <div class="main-div">
        {{{ body }}}
        </div>
    </main>
    
    <footer>
    </footer>
    
</body>
</html>
