{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

<h2>Update your Profile</h2>


<form action="/profile" method="POST">


  <div class="first-name">
    <label for="first">First Name</label>
    <input type="text" name="first" id="first" />
  </div>

  <div class="last-name">
    <label for="last">Last Name</label>
    <input type="text" name="last" id="last" />
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>

    <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>

  <div class="age">
    <label for="age">Age</label>
    <input type="number" name="age" id="age" />
  </div>

  <div class="city">
    <label for="city">City</label>
    <input type="text" name="city" id="city" />
  </div>

  <div>
    <label for="url">Homepage</label>
    <input type="text" name="url" id="url" />
  </div>

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit</button>
  </div>

</form>


<script src="/script.js"></script> 