

{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

<h2>Petition!</h2>
<p>Make the filthy rich pay for their tax(ido)es! 🕵
</p>


<form action="/petition" method="POST">
  <div class="first-name">
    <label for="first">First Name</label>
    <input type="text" name="first" required id="first" />
  </div>
  <div class="last-name">
    <label for="last">Last Name</label>
    <input type="text" name="last" required id="last" />
  </div>
  <div>
    <canvas id="canvas"></canvas>
    <input id="signature" type="hidden" name="signature" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/script.js"></script> 