
{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

{{!-- <p>Make the filthy rich pay for their tax(ido)es! 🕵
</p> --}}



<form action="/homepage" method="POST">
  <div class="first-name">
    <label for="first">First Name</label>
    <input type="text" name="first" required id="first"/>
  </div>
  <div class="last-name">
    <label for="last">Last Name</label>
    <input type="text" name="last" required id="last" />
  </div>
  <div>
    <canvas id="canvas"></canvas>
    <input id="signature" type="hidden" required name="signature" />
  </div>
  <br>
  <div id="button">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/script.js"></script> 