
{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

<h2>Petition!</h2>
<p>Make the filthy rich pay for their tax(ido)es! 🕵
</p>


<form action="/registration" method="POST">

  <div class="first-name">
    <label for="first">First Name</label>
    <input type="text" name="first" required id="first" />
  </div>

  <div class="last-name">
    <label for="last">Last Name</label>
    <input type="text" name="last" required id="last" />
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" />
  </div>

    <div>
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" />
  </div>

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit</button>
  </div>

</form>

<p>If you are already a member, plese <a href="/login">log in</a>.
</p>

<script src="/script.js"></script> 