<h2>Thank you!</h2>


{{#if signature}}
<img src="{{ signature }}" alt="your signature">
<form action="/signed" method="post">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="button" type="submit">Delete your signature</button>
</form>
{{/if}}

<h4> <a href="/signatures">List</a> of all people, who signed the petition</h4>
<h4><a href="/profile/edit">Edit Your Profile</a> </h4>





