<h1>Thank you!</h1>

<img src="{{ signature }}" alt="your signature">

<h3> <a href="/signatures">List</a> of all the good people, who signed the petition</h3>
<a href="/profile/edit">Edit Your Profile</a> 