<h1>Thank you!</h1>


{{#if signature}}
<img src="{{ signature }}" alt="your signature">
<form action="/signed" method="post">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="button" type="submit">Delete your signature</button>
</form>
{{/if}}

<h3> <a href="/signatures">List</a> of all the good people, who signed the petition</h3>
<a href="/profile/edit">Edit Your Profile</a> 




