* {
    box-sizing: border-box;
}

body {
    margin: 8px;
    height: 100hv;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-name {
    display: inline-block;
}

.last-name {
    display: inline-block;
}

#canvas {
    width: 600px;
    height: 100px;
    border: 1px dotted;
}

/* ALL SIGNATURES */

.listOfSignatures {
    list-style-type: none;
    text-align: center;
}
